.mainCircle {
  position: absolute;
  top: 25rem;
  padding-left: 10rem;

}

.circle {
  width: 162px;
  height: 162px;
  background-color: transparent;
  border: 90px solid transparent;

  border-top: 90px solid $color-6;
  border-left: 90px solid $color-6;
  border-radius: 100%;
  clip-path: circle(100%);
  transform: rotate(135deg);
}

a {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  color: $white;
}

a:nth-child(1){
  top: 40px;
  left: -63px;
}
a:nth-child(2){
  top: -58px;
  left: 30px;
}

.circle2 {
  width: 162px;
  height: 162px;
  background-color: transparent;
  border: 90px solid transparent;
  margin-top: -342px;

  border-top: 90px solid $color-4;
  border-left: 90px solid $color-4;
  border-radius: 100%;
  clip-path: circle(100%);
  transform: rotate(-45deg);
  /*clip-path: polygon(100% 00%, 0% 0%, 0% 100%, 50% 50%);*/

  a {
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: $white;
  }
  a:nth-child(1) {
    top: 104px;
    left: -56px;
    transform: rotate(45deg);
  }
  a:nth-child(2) {
    top: -54px;
    left: 100px;
    transform: rotate(45deg);
  }
  a:nth-child(3) {
    top: -33px;
    left: -19px;
    transform: rotate(45deg);
  }
}