.toggle {
  background-color: $white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  margin-left: 150px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon {
  font-size: 60px;
  color: $black;
  position: absolute;
  top: 20px;
  left: 30px;
}
.menu {
  background-color: $color-15;
  height: 100px;
  width: 100px;
  transform: scale(3);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  margin-left: 150px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
a {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  color: $white;
}
a:nth-child(1){
  top: 3px;
  left: 40px;
}
a:nth-child(2){
  top: 32px;
  left: 75px;
}
a:nth-child(3){
  top: 64px;
  left: 60px;
}
a:nth-child(4){
  top: 63px;
  left: 20px;
}
a:nth-child(5){
  top: 30px;
  left: 8px;
}